body {
  background-color: rebeccapurple;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
}

textarea{
  margin-top: 1rem;
}

#Fundo {
  background-color: white ;
  max-width: 22rem;
  margin-left: 37rem;
  border-radius: 1rem;
}

#Titulo {
  display:flex;
  justify-content: space-around;
  background-color: rebeccapurple;
}

#Notas {
  display:flex;
  justify-content: space-around;
  color: black;
 
}

#media {
  display: flex;
  justify-content:center;
  margin-right: 13rem;
  color: black;
}

#Botao {
 display: flex;
 justify-content: space-around; 
 margin-right: 11rem;  
}

